<div class="footer-column-layout">

  <div class="footer-column">
      <a class="footer" href="#"><h3 class="footer">On Evolution</h3></h3></a>
      <p><a class="footer" href="#">Darwin & Co.</a></p>
      <p><a class="footer" href="#">The event 12k years ago</a></p>
      <p><a class="footer" href="#">Recovery</a></p>
      <p><a class="footer" href="#">The last 1000 years</a></p>
  </div>

  <div class="footer-column">
      <a class="footer" href="#"><h3 class="footer">On Leadership</h3></h3></a>
      <p><a class="footer" href="#">Classical Theories</a></p>
      <p><a class="footer" href="#">John C. Maxwell</a></p>
      <p><a class="footer" href="#">Followers</a></p>
      <p><a class="footer" href="#">Lead Minimalistically</a></p>
  </div>
  
  <div class="footer-column">
      <a class="footer" href="#"><h3 class="footer">On Visions</h3></h3></a>
      <p><a class="footer" href="#">What-if</a></p>
      <p><a class="footer" href="#">Shaping an image</a></p>
      <p><a class="footer" href="#">Do as if</a></p>

  </div>
  
  <div class="footer-column">
      <a class="footer" href="#"><h3 class="footer">On Connecting</h3></h3></a>
    <p><a class="footer" href="#">About Tribes</a></p>
    <p><a class="footer" href="#">Win Their Hearts First</a></p>
    <p><a class="footer" href="#">Experimental Psychology</a></p>
  </div>

</div>  