<div class="header_background">
    <div class="nav_col_left">
        <nav>
            <ul>
                <li><a class="nav_header" href="#">Docker</a></li>            
                <li><a class="nav_header" href="#">Kubernetes</a></li>            
                <li><a class="nav_header" href="#">Gardener</a></li>            
            </ul>    
        </nav>
    </div>
    <div class="nav_col_right">
        <nav>
            <ul>
                <li><a class="nav_header" href="#">Contact</a></li>            
                <li><a class="nav_header" href="#">About</a></li>            
            </ul>    
        </nav>
    </div>
</div>
