<div class="private_background">
  <div class="nav_col_left">
      <nav>
          <ul>
              <li><a class="nav_private" href="#">LOGO</a></li>            
              <li><a class="nav_private" href="#"> </a></li>            
              <li><a class="nav_private" href="#"> </a></li>            
          </ul>    
      </nav>
  </div>
  <div class="nav_col_right">
      <nav>
          <ul>
         
            <li><a class="nav_private" href="{{ site.baseUrl }}profile.html">My Profile</a></li> 
            <li><a class="nav_private" href="../index.html">Logout</a></li> 

          </ul>    
      </nav>
  </div>
</div>
  
</script>
