<a href="fulfillment" class="home_section">
    <div class="home_section_figure">
        {% include images/imageincludeprivate.html imagePath = "sapkuberneteslinkedin.JPG" %}
    </div>
    <div class="home_section_body">
        <p class="super">
            Hardware, Support, Operations, ...
        </p>
        <p class="headline">
            Fulfillment costs
        </p>
        <p class="teasertext">
            Fulfillment costs should always be minimized. They influence heavily the floor price. |&nbsp;<strong>more</strong>
        </p>
    </div>

</a>