<a href="{{ site.baseurl }}/9a0764b2ecd7c88d4e59fdad3580dcfd96914b29/goodwriting/" class="home_section">
    <div class="home_section_figure">
        {% include images/imageincludeprivate.html imagePath = "wolves-4377376_1280.jpg" %}
    </div>
    <div class="home_section_body">
        <p class="super">
            Always stick to
        </p>
        <p class="headline">
            Good Writing
        </p>
        <p class="teasertext">
            Structuring content and making it digestible is very important .. . | <strong>more</strong>
        </p>
    </div>

</a>

<a href="{{ site.baseurl }}/9a0764b2ecd7c88d4e59fdad3580dcfd96914b29/leadership/" class="home_section">
    <div class="home_section_figure">
        {% include images/imageincludeprivate.html imagePath = "wolves-4377376_1280.jpg" %}
    </div>
    <div class="home_section_body">
        <p class="super">
            Hierarchical vs. Egalitarian
        </p>
        <p class="headline">
            Leadership Styles
        </p>
        <p class="teasertext">
            Two types of leadership styles are known as extreme variants.
            They are discussed here. | <strong>more</strong>
        </p>
    </div>

</a>