<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/layoutimages/logodrmaseway.PNG">

    <!-- <link rel="stylesheet" href="../css/bootstrap.css"> -->
    <!-- <link href="/k8s-summit/2019-07/css/bootstrap.css" rel="stylesheet"> -->
    <link href="{{site.baseurl}}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/level1.css" rel="stylesheet">

    <title>ECL -  {{ page.title }}</title>
</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            {% include chapteroverview.html 
                imagePath = "k8stutorialinbrowser.png" 
                caption = "You can click through the basic Kubernetes scenario without installing anyting on your machine" %}
            </div>
            <div class="col-md-8">
                {{ content }}
            </div>
            <div class="col-md-2">
            Last updated: 
            <br>{{ site.time }}</br>
        </div>
    </div>
</div>

</body>
</html>